







$main-color: #A3DC2F;
$secondary-color-light: #1D1C20;
$secondary-color-dark: #9B9CA1;
$red-color: #EE1F1F;
$button-color-dark: #F2F2F2;
$text-color-dark2: #F5F5F5;
$text-color-dark1: #FFFFFF;
$text-color-dark3: #9B9CA1;
$text-link-dark: #FBFBFB;
$button-background-dark: #242424;
$back-ground-section2: #0F0F0F;
$backgound-navbar-light: #F6F6F6;
$color-chart: #3AA087;
$border:#242424;

:root {
  --body-bg: #ffffffa3;
  --text-color:#ffff;
  
}

[data-theme="dark"] {
  --body-bg: #1d1c20;
  --text-color:#1d1c20;
 
}




.SmallRouting {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background: transparent;
  border: none;

  .nav-container {
    background: var(--body-bg);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 19px 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 140%;
      transform: none;
      background: linear-gradient(to bottom, rgba(151, 216, 22, 0.5), rgba(163, 220, 47, 0.1));
      box-shadow: 0 0 50px rgba(151, 216, 22, 0.4);
      filter: blur(30px);
      z-index: -1;
      border-radius: 50px;
      pointer-events: none;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem; 
    padding: 0 1rem;
    margin: 0;
    background: transparent;
  }

  .nav-item {
    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color);
      transition: all 0.3s ease;
      opacity: 0.8;
      border: none;
      &.active {
        opacity: 1;
        font-weight: 600;
      }
    }
    .cta-button {
      background: #FFFFFF;
      color: #000 !important; 
      padding: 10px 17px;
      border-radius: 30px;
      font-weight: 600;
      opacity: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      margin-left: 1rem; 

      &:hover {
        background: #F2F2F2;
        transform: translateY(-1px);
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
        color: #000 !important;
        text-shadow: none;
      }
    }
  }

 

  @media (max-width: 768px) {
    .nav-container {
      padding: 10px 10px;
      width: 90%;
      justify-content: center;
    }

    .nav-list {
      gap: 1rem;
      width: 100%;
      justify-content: space-between;
    }

    .nav-item a {
      font-size: 0.9rem;
    }

    .nav-item .cta-button {
      padding: 8px 16px;
      margin-left: 0.5rem;
    }
  }
}