.homeWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to bottom,
      #1D1C20 15%,
      #0F0F0F 45%,
      #1D1C20 40%
    );

  :global([data-theme="light"]) & {
    background: linear-gradient(to bottom,
        #f6f6f6 25%,
        #F2F2F2 25%,
        #f6f6f6 25%,
        #F2F2F2 25%);
  }
}

.chartWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px; // prevent overflow on mobile
  margin-top: -40px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-top: -20px;
  }
}