.HorizintalBar {
  $main-color:#A3DC2F;
  $secondary-color-light:#1D1C20;
  $secondary-color-dark:#9B9CA1;
  $red-color:#EE1F1F;
  $button-color-dark:#F2F2F2;
  $text-color-dark2:#F5F5F5;
  $text-color-dark1:#FFFFFF;
  $text-color-dark3:#9B9CA1;
  $text-link-dark:#FBFBFB;
  $button-background-dark:#242424;
  $back-ground-section2:#0F0F0F;
  $backgound-navbar-light:#F6F6F6;
  $color-chart:#3AA087

}
:root {
  --h4-color: #1D1C20;
  --chart-tick-color: #6b7280;
  --chart-grid-color: #e5e7eb;
}

[data-theme="dark"] {
  --h4-color: #ffffff;
  --chart-tick-color: #ffffff;
  --chart-grid-color: #333333;
}

h4 {
  color: var(--h4-color);
}
